<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="./src/css/font.css">
      <link rel="stylesheet" href="bundle.css">
      <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    </head>
  <body ng-app="billingModule" ng-controller="billingController as root">
    <header class="header_menu">
      <section class="platform_dropdown">
          <img class="logo" src="./src/img/logo.png" alt="logo">
          <span>Admin</span>
      </section>
      <nav class="nav_panel">
        <ul class="menu_list">
          <li class="header_menu_item"><a href="#">Dashboard</a></li>
          <li class="header_menu_item menu_list_active"><a href="#">Workspace</a></li>
        </ul>
      </nav>
      <section class="user_profile">
          <dl class="user_info">
            <dt class="user_name">pyuruts</dt>
              <dd class="user_function">123</dd>
          </dl>
      </section>
    </header>
    <section class="current_feature_container">
      <h1 class="feature_title">Videology Billing</h1>
    </section>
    <section class="tab">
      <button class="tab_link" ng-click="root.openTab($event, 'client_stats_tab')">Client Stats</button>
      <button class="tab_link" ng-click="root.openTab($event, 'accruals_tab')">Accruals</button>
      <div></div>
    </section>
    <section id="client_stats_tab" class="tab_content">
      <ul class="filter_info_by_category">
        <li>
          <date-filter click="root.expandFilterContent()" platformops="root.platformOpsFilterData" region="root.regionFilterData" office="root.officeFilterData" platformclient="root.platformClientFilterData" agency="root.agencyFilterData" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></date-filter>
        </li>
        <li>
          <platform-ops-filter click="root.expandFilterContent()" platformops="root.platformOpsFilterData" region="root.regionFilterData" office="root.officeFilterData" platformclient="root.platformClientFilterData" agency="root.agencyFilterData" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></platform-ops-filter>
        </li>
        <li>
          <region-filter click="root.expandFilterContent()" region="root.regionFilterData" office="root.officeFilterData" platformclient="root.platformClientFilterData" agency="root.agencyFilterData" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></region-filter>
        </li>
        <li>
          <office-filter click="root.expandFilterContent()" office="root.officeFilterData" platformclient="root.platformClientFilterData" agency="root.agencyFilterData" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></office-filter>
        </li>
        <li>
          <platform-client-filter click="root.expandFilterContent()" platformclient="root.platformClientFilterData" agency="root.agencyFilterData" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></platform-client-filter>
        </li>
        <li>
          <agency-filter click="root.expandFilterContent()" agency="root.agencyFilterData" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></agency-filter>
        </li>
        <li>
          <billing-stats-filter click="root.expandFilterContent()" billingstats="root.billingStatsFilterData" device="root.deviceFilterData" table="root.clientStatsTable"></billing-stats-filter>
        </li>
        <li>
          <device-filter click="root.expandFilterContent()" device="root.deviceFilterData" table="root.clientStatsTable"></device-filter>
        </li>
      </ul>
      <client-stats-table table="root.clientStatsTable"></client-stats-table>
    </section>
    
    <section id="accruals_tab" class="tab_content">
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p>
    </section>
      
    <script src="bundle.js"></script>
  </body>
</html>