<span class="filter_title" ng-click="$ctrl.changeVisibility()">{{ $ctrl.dateFilterData.activeItem }}</span>
<div class="filter_list">
    <div class="date_filter_component">
        <span class="active_item" ng-attr-id="{{ $ctrl.dateFilterActiveItem }}" ng-click="$ctrl.expandDateOptions()">{{ $ctrl.dateFilterData.activeItem }}</span>
        <div class="date_filter_content" ng-class="{'visible': $ctrl.dateFilterOptionsVisibility }">
            <div class="search_input_container">
                <input type="text" placeholder="Search" class="search_input" ng-model="$ctrl.dateFilterSearchValue">
            </div>
            <ul>
                <li ng-repeat="option in $ctrl.dateFilterData.options | filter:$ctrl.dateFilterSearchValue" ng-attr-id="{{ option }}" ng-click="$ctrl.dateFilterOptionOnChange($event)">{{ option }}</li>
            </ul>
            <select>
                <option ng-selected="$ctrl.dateFilterData.activeItem == option" ng-repeat="option in $ctrl.dateFilterData.options" ng-value="option">{{option}}</option>
            </select>
        </div>
    </div>
</div>