<span class="filter_title" ng-click="$ctrl.changeVisibility()">Agency ({{$ctrl.agency.pickedOptions.length}})</span>
<div class="filter_list">
    <div class="filter_action_group">
        <div>
            <button class="action_button" ng-click="$ctrl.applyFilters()">Apply</button>
            <button class="clear_button" ng-click="$ctrl.clearFilters()">Clear</button>
        </div>
        <span class="close_icon" ng-click="$ctrl.closeFilterContent()"></span>
    </div>
    <hr>
    <ul>
        <li ng-repeat="option in $ctrl.agency.options">
            <label class="toggler_box">
                <input id="{{option}}" type="checkbox" class="toggler" data-checklist-model="$ctrl.agency.pickedOptions" data-checklist-value="option"> 
                <div class="toggler_indicator"></div>
            </label>
            <label class="filter_option_label" for="{{option}}">{{option}}</label>
        </li>
    </ul>
</div>