<nav ng-if="pages.length >= 1"> 
  <ul class="pagination">
    <li>
      <span class="first_page" ng-click="selectPage(1)"></span>
    </li>
    <li>
      <span class="previous_page" ng-click="selectPage(currentPage - 1)"></span>
    </li>
    <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
      <a ng-click="selectPage(page)">{{page}}</a>
    </li>
    <li>
      <span class="next_page" ng-click="selectPage(currentPage + 1)"></span>
    </li>
    <li>
      <span class="last_page" ng-click="selectPage(numPages)"></span>
    </li>
  </ul>
 </nav>
 <st-summary></st-summary>