<section class="loading_container" ng-show="$ctrl.isLoading">
    <img  ng-src="./src/loading.svg" />
</section>
<section ng-show="!$ctrl.isLoading" class="client_stats_container">
    <table st-table="$ctrl.displayedTable" st-safe-src="$ctrl.table" class="client_stats_table table">
        <thead>               
            <tr class="action_group">
                <th>
                    <div class="action_group_container">
                        <div class="search_input_container">
                            <input st-search="" type="text" placeholder="Search" id="client_stats_search" class="search_input">
                        </div>
                        <span>
                            <button class="">Export Client Stats</button>
                            <button class="">Browse</button>
                        </span>
                    </div>
                </th>
            </tr>
        
            <!-- <tr>
                <th st-ratio="" st-sort="planId">Plan ID</th>
                <th st-ratio="" st-sort="planName">Plan Name</th>
                <th st-ratio="" st-sort="campaignId">Campaign ID</th>
                <th st-ratio="" st-sort="campaignName">Campaign Name</th>
                <th st-ratio="" st-sort="flightId">Flight Id</th>
                <th st-ratio="" st-sort="flightName">Flight Name</th>
                <th st-ratio="" st-sort="firstName">First name</th>
                <th st-ratio="" st-sort="lastName">Last Name</th>
                <th st-ratio="" st-sort="birthDate">Birth Date</th>
                <th st-ratio="" st-sort="balance">Balance</th>
            </tr> -->

            <tr>  
                <th st-ratio="" st-sort="date">Plan ID</th>
                <th st-ratio="" st-sort="platformOps">Plan Name</th>
                <th st-ratio="" st-sort="region">Campaign ID</th>
                <th st-ratio="" st-sort="office">Campaign Name</th>
                <th st-ratio="" st-sort="platformClient">Flight Id</th>
                <th st-ratio="" st-sort="agency">Flight Name</th>
                <th st-ratio="" st-sort="billingStats">First name</th>
                <th st-ratio="" st-sort="device">Last Name</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="row in $ctrl.displayedTable">
                <td st-ratio="">{{row.date}}</td>
                <td st-ratio="">{{row.platformOps}}</td>
                <td st-ratio="">{{row.region}}</td>
                <td st-ratio="">{{row.office}}</td>
                <td st-ratio="">{{row.platformClient}}</td>
                <td st-ratio="">{{row.agency}}</td>
                <td st-ratio="">{{row.billingStats}}</td>
                <td st-ratio="">{{row.device}}</td>
            </tr>
            <!-- <tr ng-repeat="row in $ctrl.displayedTable">
                <td st-ratio="">{{row.planId}}</td>
                <td st-ratio="">{{row.planName}}</td>
                <td st-ratio="">{{row.campaignId}}</td>
                <td st-ratio="">{{row.campaignName}}</td>
                <td st-ratio="">{{row.flightId}}</td>
                <td st-ratio="">{{row.flightName}}</td>
                <td st-ratio="">{{row.firstName}}</td>
                <td st-ratio="">{{row.lastName}}</td>
                <td st-ratio="">{{row.birthDate | date:'shortDate'}}</td>
                <td st-ratio="">{{row.balance}}</td>
            </tr> -->
        </tbody>

        <tfoot>
            <tr>
                <td>
                    <div class="pagination_container" st-items-by-page="$ctrl.itemsByPage" st-pagination st-template="./src/js/components/clientStatsTable/template/clientStatsPaginationTemplate.html">
                    </div>
                    <select ng-model="$ctrl.selectedValue" ng-change="$ctrl.onChange()" ng-options='option.value as option.name for option in $ctrl.options'>
                    </select>
                </td>
            </tr>
        </tfoot>
    </table>
</section>